body {
  position: relative;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }

#xlNavbar .nav-link div:hover {
  border-bottom: 2px solid #000;
  }
}

#navbar {
  z-index: 1;
}

#xlNavbar .navbar-brand, #navbarMenuToggler, #xlNavbar .nav-link {
  line-height: 80px;
}

#xlNavbar .nav-link {
  font-size: 14px;
}


#navbarMenuToggler {
  color: rgb(255, 90, 95);
  transition: color 0.25s;
  z-index: 1;
}

#navbarMenuToggler.collapsed {
  color: #000;
}

#navbarMenu .nav-link {
  color: #333;
}

#navbarMenu {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 88px;
}

#navbarMenu .nav-link {
  padding: 12px 0;
}

#main-nav .nav-link {
  padding: 12px 0;
}
