body {
  position: relative;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

p {
  margin: 3px 9px 10px;
}


/* navbar */
@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }
}
/* #xlNavbar .nav-link div:hover {
  border-bottom: 2px solid #fff;
  }
} */

#navbar {
  z-index: 1;
}

#xlNavbar .navbar-brand, #navbarMenuToggler, #xlNavbar .nav-link {
  line-height: 80px;
}

#xlNavbar .nav-link {
  font-size: 14px;

}

.fixed-top {
  background-color: rgba(0, 0, 0, .6) ;

}

.navbar-brand, .custom-text {
  color: #FFDF00;
}
.navbar-brand:hover {
  color: white;
}

.nav-link, .custom-text {
  color: #FFDF00;
}
.nav-link:hover {
  color: white;
}



#navbarMenuToggler {
  color: rgb(255, 90, 95);
  transition: color 0.25s;
  z-index: 1;
}



#navbarMenu .nav-link {
  color: #333;
}
#navbarMenu .nav-link:hover {
  color: blue;
}

#navbarMenu {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 88px;
}

#navbarMenu .nav-link {
  padding: 12px 0;
}

#main-nav .nav-link {
  padding: 12px 0;
}

/* header */
.bkgrnd-img {
  z-index: -1;
  width: 100vw;
  min-height: 600px;
  background-image: url("./images/vegas-vacation.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  top: 0;
  text-align: center;
}

/*  container and responsive container sizes */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px){
  .container {
      width: 750px;
  }
}
@media (min-width: 992px){
  .container {
      width: 970px;
  }
}
@media (min-width: 1200px){
  .container {
      width: 1170px;
  }
}

/*col-12 */
@media (min-width: 1200px){
  .col-lg-12 {
    width: 100%;
  }
}

/* intro-message css */
.intro-message {
  color: #f8f8f8;
  position: relative;
  padding-top: 200px;
  padding-bottom: 23%;
}
.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,.6);
    font-size: 5em;
}

h3 {
  font-size: 24px;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn:hover{
  background-color: black;
  color: green;
}
.social-buttons {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.social-buttons > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* col css for projects section */
/* @media (min-width: 480px){
  .col-offset-1 {
      margin-left: 8.33333333%;
  }
} */
@media (min-width: 768px){
  .col-md-10 {
      flex: 0 0 83.3%;
      max-width: 83.3%;
  }
}
@media (min-width: 992px){
  .col-md-offset-1 {
      margin-left: 8.33333333%;
  }
}

@media (min-width: 992px){
  .col-md-10 {
      width: 83.33333333%;
      float: left;
  }
}

@media (min-width: 992px){
  .col-lg-offset-1 {
      margin-left: 8.33333333%;
  }
}

@media (min-width: 1200px){
  .col-lg-offset-1 {
      margin-left: 8.33333333%;
  }
}

/* used to center the col */
@media (min-width: 1200px){
  .col-lg-10 {
      width: 83.33333333%;
  }
}

.header {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 17px;
    font-family: 'Times New Roman';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.centered-text {
    text-align: center;
}

/* featured art */
.featured-projects {
    padding: 0 8px;
    margin-bottom: 40px;
}
.featured-projects-box img {
  border: solid 1px #eee;
  padding: 0;
  margin-bottom: 10px;
}
.featured-projects p {
    line-height: 14px;
    font-size: 13px;
    color: #666;
}
.proj-desc {
  font-size: 12px;
  font-weight: 200;
}

/* .proj-desc a{
  padding-left: 1em;
} */
.proj-desc-align {
    float: right;
}
.project-name {
  font-size: 13px;
  font-weight: 200;
}

@media (min-width: 325px){
  .proj-desc a {
    padding-left: 11em;
  }
}
@media (min-width: 480px){
  .proj-desc a {
    padding-left: 14em;
    margin-left: 10px;
  }
}
/* @media (min-width: 597px){
  .proj-desc a {
    padding-left: 2em;
    margin-left: 11px;
  }
} */
@media (min-width: 768px){
  .proj-desc a {
    padding-left: 16em;
    margin-left: 4px;
  }
}
@media (min-width: 992px){
  .proj-desc a {
    padding-left: 12em;
    margin-left: 6px;
  }
}
@media (min-width: 1200px){
  .proj-desc a {
    padding-left: 22em;
    margin-left: 4px;
  }
}
@media (min-width: 576px){
  .col-sm-6 {
    width: 100%;
    float: left;
  }
}
@media (min-width: 768px){
  .col-sm-6 {
    width: 50%;
    float: left;
  }
}


/* clearfix for floating elements on larger devices */
.visible-lg-block {
    display: block !important;
}

/* about me */
.bio {
  line-height: 1.7;
}
.about {
  text-align: center;
  margin-right: 10em;
}

.featured-developer {
  padding-bottom: 30px;
  display: flex
}

.featured-developer div {
  padding: 0 8px;
}
.featured-developer img {
  padding-bottom: 20px;
  padding-top : 14px;
  margin-right: 31px;
  float: left;
}

@media (min-width: 768px){
.featured-developer img{
    padding-top : 9px;
  }
}
@media (min-width: 1200px){
.featured-developer img{
    padding-top : 0;
  }
}
@media (min-width: 325px){
  #about {
    padding-left: 0;
  }
}
@media (min-width: 480px){
  #about {
    padding-left: 3em;
  }
}
@media (min-width: 768px){
  #about {
    padding-left: 3em;
  }
}

@media (min-width: 325px){
  .about {
    text-align: center;
    margin-right: 0;
  }
}
@media (min-width: 768px){
  .about {
    margin-right: 3em;
  }
}
@media (min-width: 768px){
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
}
@media (min-width: 768px){
  .col-sm-2 {
    width: 16.66666667%;
  }
}
@media (max-width: 597px){
  .col-4 {
    display: none !important;
  }
}
/* footer */
#footer {
  background-color: #000;
  padding: 10px;
}
.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    color: #007bff;
}

/* back to top button */
#back-top {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 50px;
}
#back-top a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  font: 40px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background: #30C91F;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #FFF;
  background: #1F2AC9 ;
}
/* font awesome custom css */
.fa-bars{
  color: #30C91F;
}
.fas {
  padding-top: 8px;
}

@media (max-width: 992px){
  #back-top{
    display: none !important
  }
}
